@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Monoton', cursive;
    background: #000;
}

.section {
    position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section h4 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
    font-size: 12vw;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	line-height: 0.85em;
	mix-blend-mode: multiply;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-weight: 400;
}
